<div id="header">
  <div id="logo">
    <a href="/"><img
        src="images/logo.png"
        alt="LOGO"
        height="100"
        width="200"
      /></a>
  </div>
  <div id="navigation">
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="travel">Travel</a>
      </li>
      <li>
        <a href="rooms">Rooms</a>
      </li>
      <li>
        <a href="meals">Meals</a>
      </li>
      <li>
        <a href="news">News</a>
      </li>
      <li>
        <a href="about">About</a>
      </li>
      <li>
        <a href="contact">Contact</a>
      </li>
    </ul>
  </div>
</div>